@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MacPawFixelTextRegular';
  src: url('./assets/fonts/MacPawFixelText-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'sandrogrottesco';
  src: url('./assets/fonts/sandrogrottesco.otf');
}
body {
  background-color: #0d141b;
  color: #fcfcfc;
  height: 100%;
}
footer {
  padding: 24px 32px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: rgb(0 0 0 / 7%) 0px 7px 21px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 0.5px solid rgb(66, 73, 80);
}
li {
  font-family: 'MacPawFixelTextRegular';
  font-weight: normal;
}

@layer components {
  .container {
    @apply px-5 lg:px-20 mx-auto;
  }
  .no-scroll {
    overflow-y: hidden;
  }

  .btn-primary {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(106.27deg, #ed2196 16.3%, #ed4621 87.94%);

    box-shadow: 0px 7px 21px rgba(243, 95, 180, 0.4);
    border-radius: 10px;
    @apply text-[14px] gap-x-3 flex items-center font-sandro  cursor-pointer;
  }
  .btn-primary:hover {
    background: linear-gradient(
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgb(255, 62, 133);
  }
  .menu_btn {
    background: rgba(255, 255, 255, 0.05);
    @apply px-6 text-[14px] py-3 font-sandro rounded-[12px];
    box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.07);
  }
  .nav-link:hover {
    background: rgb(47, 56, 65);
  }
  .menu_btn:hover {
    background: rgba(0, 139, 255, 0.15);
  }
  .main-container {
    @apply max-w-[1600px] mx-auto px-5 lg:px-10;
  }
  #farming {
    background: linear-gradient(
        155.94deg,
        rgba(44, 112, 213, 0.1) -34.45%,
        rgba(255, 255, 255, 0) 55.98%
      ),
      rgba(255, 255, 255, 0.05);
    border-radius: 24px;
  }
  .farming_card {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.56),
        rgba(255, 255, 255, 0.56)
      ),
      conic-gradient(
        from 2deg at 17.76% -92.91%,
        rgb(255, 255, 255) 0deg,
        rgb(162, 176, 193) 16.7deg,
        rgb(249, 251, 254) 24.27deg,
        rgb(147, 159, 173) 47.25deg,
        rgb(193, 215, 219) 60.32deg,
        rgb(199, 226, 222) 72deg,
        rgb(215, 247, 239) 86.4deg,
        rgb(222, 255, 246) 97.2deg,
        rgb(234, 255, 249) 115.2deg,
        rgb(249, 255, 253) 129.6deg,
        rgb(255, 255, 255) 156.38deg,
        rgb(183, 200, 220) 187.01deg,
        rgb(227, 236, 252) 203.99deg,
        rgb(252, 253, 254) 219.78deg,
        rgb(242, 246, 253) 230.4deg,
        rgb(234, 240, 252) 270deg,
        rgb(255, 255, 255) 360deg
      );
    box-shadow: rgb(222 226 231) 0px 0px 76px 72px inset;

    @apply px-4 py-6 lg:p-[60px] md:rounded-[23px];
    color: rgb(34, 54, 83);
  }
  .bubble_contract {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.56),
        rgba(255, 255, 255, 0.56)
      ),
      conic-gradient(
        from 2deg at 17.76% -94.66%,
        rgb(255, 255, 255) 0deg,
        rgb(162, 176, 193) 16.7deg,
        rgb(249, 251, 254) 24.27deg,
        rgb(147, 159, 173) 47.25deg,
        rgb(193, 215, 219) 60.32deg,
        rgb(199, 226, 222) 72deg,
        rgb(215, 247, 239) 86.4deg,
        rgb(222, 255, 246) 97.2deg,
        rgb(234, 255, 249) 115.2deg,
        rgb(249, 255, 253) 129.6deg,
        rgb(255, 255, 255) 156.38deg,
        rgb(183, 200, 220) 187.01deg,
        rgb(227, 236, 252) 203.99deg,
        rgb(252, 253, 254) 219.78deg,
        rgb(242, 246, 253) 230.4deg,
        rgb(234, 240, 252) 270deg,
        rgb(255, 255, 255) 360deg
      );
    box-shadow: rgb(8 29 75 / 9%) 0px 100px 80px,
      rgb(8 29 75 / 6%) 0px 41.7776px 33.4221px,
      rgb(8 29 75 / 6%) 0px 22.3363px 17.869px,
      rgb(8 29 75 / 4%) 0px 12.5216px 10.0172px,
      rgb(8 29 75 / 4%) 0px 6.6501px 5.32008px,
      rgb(8 29 75 / 2%) 0px 2.76726px 2.21381px;

    gap: 12px;
    height: 186px;
    @apply px-16 md:text-clip md:py-4 h-auto justify-center md:grid place-content-center md:h-[187px] gap-[12px];
  }

  .Imghover:hover {
    background-image: radial-gradient(
      50% 50% at 50% 50%,
      #008cff50 0,
      #00d0aa38 72.92%,
      #7b3eff00 99.99%
    );
    border-radius: 50%;
  }
  .partner {
    @apply flex items-center justify-center w-full h-[100px] rounded-2xl;

    -webkit-box-pack: center;

    align-items: center;
    background: rgb(25, 33, 40);
  }
  .text-muted {
    color: rgb(195, 201, 218);
  }
}
